# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more detail
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle glist'
      'command': 'glist:toggle'
    },
    {
      'label': 'Save Gist'
      'command': 'glist:saveGist'
    },
    {
      label: 'Delete Gist File'
      command: 'glist:delete'
    },
    {
      label: 'Delete Gist'
      command: 'glist:deleteGist'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'glist'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'glist:toggle'
        },
        {
          'label': 'Save Gist'
          'command': 'glist:saveGist'
        },
        {
          label: 'Delete Gist File'
          command: 'glist:delete'
        },
        {
          label: 'Delete Gist'
          command: 'glist:deleteGist'
        },
      ]
    ]
  }
]
