# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle glist'
      'command': 'glist:toggle'
    },
    {
      'label': 'Save Gist'
      'command': 'glist:saveGist'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'glist'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'glist:toggle'
        },
        {
          'label': 'Save Gist'
          'command': 'glist:saveGist'
        }
      ]
    ]
  }
]
